.auth-wrapper {
  min-height: 100vh;
  display: flex;
  font-family: 'Segoe UI', sans-serif;
}

/* LEFT */
.auth-left {
  flex: 1;
  background: radial-gradient(circle at center, #0f2027, #203a43, #2c5364);
  color: #fff;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.auth-left h3 {
  font-weight: 500;
  margin-bottom: 12px;
}

.auth-left p {
  opacity: 0.8;
  max-width: 380px;
}

/* RIGHT */
.auth-right {
  flex: 1;
  background: #fff;
  padding: 80px 100px;
}

.auth-right h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

.sub-text {
  color: #777;
  margin-bottom: 24px;
}

.google-btn {
  width: 100%;
  padding: 12px;
  background: #c62828;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
}

.facebook-btn {
  width: 100%;
  padding: 12px;
  background: #3b5998;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 24px 0;
  color: #aaa;
}

form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
}

.login-main-btn {
  width: 100%;
  padding: 14px;
  background: #3f7efc;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-main-btn:disabled {
  opacity: 0.7;
}

.auth-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.auth-links a {
  font-size: 14px;
  color: #3f7efc;
  text-decoration: none;
}

/* MOBILE */
@media (max-width: 900px) {
  .auth-left {
    display: none;
  }

  .auth-right {
    padding: 40px;
  }
}
